<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bank.Properties.Settings.Bank_ultimate_versionConnectionString"
            connectionString="Data Source=DESKTOP-3P3899D\SQLEXPRESS;Initial Catalog=Bank_ultimate_version;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>